/* * {
    outline: 1px solid red !important;
} */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin:0
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color:black;
}

.header {
    display: flex;
    justify-content: flex-end;
    background-color: #1B4543;
    min-height: 50px;
    padding-right: 30px;
    
}

.links {
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    flex-wrap: wrap;
    padding-top:10px;
}

.index {
    color:white
}

/*a {color:#FF0000;}
a:visited {color:#00FF00;}
a:hover {color:#FF00FF;}
a:active {color:#0000FF;}
*/

.container-content {
    background-color: #1B4543;
    /*font-family: Roboto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 360px;
    gap: 16px;
    padding:20px
}


.hero {
    font-size: 36px;
    color: #F9FAF8;
    font-weight: bolder;
}

#caption {
    color: #E5E7EB;
    max-width: 500px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.container-index {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #B3D0C6;
    justify-content: center;
    align-items: center;

}

.container-translation {
    display: flex;
    flex-grow: 1;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #B3D0C6;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.container-engineer{
    display: flex;
    flex-grow: 1;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #B3D0C6;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container-programmer{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #B3D0C6;
    justify-content: center;
    align-items: center;
  

}
.container-badminton {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #B3D0C6;

}


.random {
    text-align: center;
    /*font-family: Roboto;*/
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;
}


.box-random {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.container-box {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.random-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
    justify-content: center;
    padding-top:10px;
    font-weight: bold;
}

.icons {
    width: 150px;
    height: 150px;
    float: center;
}

.zoom {
    transition: all;
}

.zoom:hover {
    transform: scale(1.15);
}


.profile{
    margin: 10px;
    border-radius: 35px;
    max-width: 100%;
    
}

.profile-div{
    display: flex;
    align-self: flex-start;
}

.outer-container-quote {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #FEF9E5

}

.container-quote {
    font-size: 36px;
    font-style: italic;
    max-width: 800px;
    text-align: center;
    padding-top: 20px;
}

.person {
    font-weight: bold;
    padding-left: 175px;
    padding-right: 175px;
    padding-bottom: 60px;
    text-align: right;
    font-size: 18px;
}

.article {
    max-width: 360px;
}

.badminton-article {
    width: 70vw;
    margin-top: 10px;
}

.italki-chart {
    width: 50vw;
    margin-top: 10px;
}

.stream-lit-app {
    width: 25vw;
    margin-top: 10px;
}

.experience {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    width: 360px;
    padding-left: 20px;
    padding-right:20px
}

.date {
    padding: 10px;
}

.text-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title {
    font-weight: bold;
    padding-bottom: 20px;
}

.container-table {
    width: 360px;
}

.table {
    width: 70vw; 
    height: 60vh;
}

.portfolio-table {
    padding-bottom:20px
}

#CS50{
    padding-top:15px;
}
